
@font-face {
	font-family: 'Helvetica'; 
	src: url('../fonts/HelveticaNeueCyr-Roman.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-bold'; 
	src: url('../fonts/HelveticaNeueCyr-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}