
.text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    font-family: $fontFamily-Medium;
    font-style: normal;
    color: $black;

    &_20-30 {
        font-size: 20px;
        line-height: 30px;
        color: $gray;

        @media (max-width: 1439px) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    &_16-24 {
        font-size: 16px;
        line-height: 24px;
        color: $white;

        &_active {
            color: $orange;
        }
    }

    &_16-24_m {
        font-size: 16px;
        line-height: 24px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &_14-21 {
        font-size: 14px;
        line-height: 21px;
        color: $gray;

        @media (max-width: 1439px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &_25-38 {
        font-size: 25px;
        line-height: 38px;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &_18-27 {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &_18-22 {
        font-size: 18px;
        line-height: 22px;
    }

    &_30-45-or {
        font-size: 30px;
        line-height: 45px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }
}



//&_hover {
//    &:hover {
//        color: $v3-color-black;
//        transition: all 0.25s ease-out;
//    }
//}

.text-ex {
    font-size: 50px;
    line-height: 80px;
    font-weight: 800;
    font-family: $fontFamily-Extrabold;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 40px;
        line-height: 52px;
    }


    &_50-80 {
        font-size: 50px;
        line-height: 80px;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 33px;
        }
    }

    &_50-80-orange {
        font-size: 50px;
        line-height: 80px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &_50-80-orange-1 {
        font-size: 50px;
        line-height: 80px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 39px;
        }
    }

    &_50-80-white {
        font-size: 50px;
        line-height: 80px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 39px;
        }
    }

}

.text-b {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
    font-family: $fontFamily-Bold;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 20px;
        line-height: 30px;
    }


    &_25-38 {
        font-size: 25px;
        line-height: 38px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &_140-140 {
        font-size: 140px;
        line-height: 140px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 80px;
            line-height: 80px;
        }
    }

    &_18-27 {
        font-size: 18px;
        line-height: 27px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

}

.text-r {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: $fontFamily-Regular;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 16px;
        line-height: 24px;
    }


    &_18-24 {
        font-size: 18px;
        line-height: 24px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &_16-24 {
        font-size: 16px;
        line-height: 24px;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

}