
.text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    font-family: $fontFamily-Medium;
    font-style: normal;
    color: $black;

    &_10-16 {
        font-size: 10px;
        line-height: 16px;
        color: $white;
    }

    &_14-16-2 {
        font-size: 14px;
        line-height: 16px;
        color: $black;

        @media (max-width: 1439px) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &_14-16-or {
        font-size: 14px;
        line-height: 16px;
        color: $orange;
    }

    &_14-16-or {
        font-size: 14px;
        line-height: 16px;
        color: $orange;
    }

    &_14-21 {
        font-size: 14px;
        line-height: 21px;
        color: $gray;

        @media (max-width: 1439px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &_16-24 {
        font-size: 16px;
        line-height: 24px;
        color: $white;

        &_active {
            color: $orange;
        }
    }

    &_16-24_m {
        font-size: 16px;
        line-height: 24px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &_18-22 {
        font-size: 18px;
        line-height: 22px;
    }

    &_18-22-2 {
        font-size: 18px;
        line-height: 22px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &_18-27 {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &_18-27-2 {
        font-size: 18px;
        line-height: 27px;
    }

    &_20-30 {
        font-size: 20px;
        line-height: 30px;
        color: $gray;

        @media (max-width: 1439px) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    &_22-33 {
        font-size: 22px;
        line-height: 33px;
    }

    &_25-29 {
        font-size: 25px;
        line-height: 29px;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &_25-38 {
        font-size: 25px;
        line-height: 38px;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &_30-45-or {
        font-size: 30px;
        line-height: 45px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.text-ex{
    font-size: 50px;
    line-height: 80px;
    font-weight: 800;
    font-family: $fontFamily-Extrabold;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 40px;
        line-height: 52px;
    }

    &_42-55 {
        font-size: 42px;
        line-height: 55px;
    }


    &_50-80 {
        font-size: 50px;
        line-height: 80px;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 33px;
        }
    }

    &_50-80-orange {
        font-size: 50px;
        line-height: 80px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &_50-80-orange-1 {
        font-size: 50px;
        line-height: 80px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 39px;
        }
    }

    &_50-80-white {
        font-size: 50px;
        line-height: 80px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 39px;
        }
    }

    &_110-80 {
        font-size: 110px;
        line-height: 80px;

        @media (max-width: 1439px) {
            font-size: 40px;
            line-height: 80px;
        }
    }

    &_110-80-2 {
        font-size: 110px;
        line-height: 80px;

        @media (max-width: 1439px) {
            font-size: 50px;
            line-height: 80px;
        }
    }

    &_110-80-3 {
        font-size: 110px;
        line-height: 80px;

        @media (max-width: 1439px) {
            font-size: 50px;
            line-height: 65px;
        }
    }

    &_110-120 {
        font-size: 110px;
        line-height: 120px;

        @media (max-width: 1439px) {
            font-size: 42px;
            line-height: 55px;
        }
    }

}

.text-b {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
    font-family: $fontFamily-Bold;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 20px;
        line-height: 30px;
    }


    &_25-38 {
        font-size: 25px;
        line-height: 38px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &_25-25 {
        font-size: 25px;
        line-height: 25px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &_140-140 {
        font-size: 140px;
        line-height: 140px;
        color: $white;

        @media (max-width: 1439px) {
            font-size: 80px;
            line-height: 80px;
        }
    }

    &_18-27 {
        font-size: 18px;
        line-height: 27px;
        color: $orange;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &_80-80 {
        font-size: 80px;
        line-height: 80px;
        
        @media (max-width: 1439px) {
            font-size: 48px;
            line-height: 50px;
        }
    }

    &_80-80-or {
        font-size: 80px;
        line-height: 80px;
        color: $orange;
        
        @media (max-width: 1439px) {
            font-size: 48px;
            line-height: 50px;
        }
    }
}

.text-r {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: $fontFamily-Regular;
    font-style: normal;

    @media (max-width: 1439px) {
        font-size: 16px;
        line-height: 24px;
    }

    &_16-24 {
        font-size: 16px;
        line-height: 24px;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &_18-24 {
        font-size: 18px;
        line-height: 24px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &_18-26 {
        font-size: 18px;
        line-height: 26px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &_18-27 {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &_18-27-2 {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &_25-37 {
        font-size: 25px;
        line-height: 37px;

        @media (max-width: 1439px) {
            font-size: 16px;
            line-height: 21px;
        }
    }
}

.text-s {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    font-family: $fontFamily-Semibold;
    font-style: normal;
    color: $white;

    &_20-30 {
        font-size: 20px;
        line-height: 30px;
        color: $black;

        @media (max-width: 1439px) {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

