
 
.text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    font-family: $fontFamily;

    &_p {
        font-size: 15px;
        line-height: 18px;
    }

    &_p-1 {
        font-size: 15px;
        line-height: 19px;
    }

    &_input {
        font-size: 14px;
        line-height: 17px;
        color: $black;

        &-disabled {
            opacity: 0.4;
        }
    }
}

.text-b {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: $fontFamily-bold;

    &_h1 {
        font-size: 56px;
        line-height: 69px;

        @media (max-width: 768px) {
			font-size: 32px;
            line-height: 40px;
		}
    }

    &_p {
        font-size: 16px;
        line-height: 20px;
    }

}

 