

$white: #fff;
$bg-body: #343539;;
$black: #000;
$gray: #4B4B4F;
$gray-2: #717174;


$minWidth: 375px;
$maxWidth: 1103px;

$fontFamily: "Helvetica", sans-serif;
$fontFamily-bold: "Helvetica-bold", sans-serif;