$fontFamily-Medium: "Gilroy-Medium", sans-serif;
$fontFamily-Bold: "Gilroy-bold", sans-serif;
$fontFamily-Extrabold: "Gilroy-Extrabold", sans-serif;
$fontFamily-Regular: "Gilroy-Regular", sans-serif;
$fontFamily-Semibold: "Gilroy-Semibold", sans-serif;

$blue: #020725;
$white: #fff;
$black: #000;
$gray: #949494;
$gray-2: #F1F1FC;
$gray-3: #E5E5E5;
$gray-4: #C4C4C4;
$gray-5: #E5E5E5;
$orange:#FF7A40;


$bg-body: #343539;
 
 


$minWidth: 320px;
$maxWidth: 1440px;

 
