$fontFamily-Medium: "Gilroy-Medium", sans-serif;
$fontFamily-Bold: "Gilroy-bold", sans-serif;
$fontFamily-Extrabold: "Gilroy-Extrabold", sans-serif;
$fontFamily-Regular: "Gilroy-Regular", sans-serif;
$fontFamily-Semibold: "Gilroy-Semibold", sans-serif;

$blue: #020725;
$white: #fff;
$black: #000;
$gray: #949494;
$orange:#FF7A40;


$bg-body: #343539;
 
 
$gray-2: #717174;


$minWidth: 320px;
$maxWidth: 1440px;

 
