@import 'base/vars';

body {
    font-family: $fontFamily-Medium;
	color: $black;
	font-size: 18px;
	font-weight: 150%;
	background-color: $white;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.section {
	width: 100%;
	background-color: cadetblue;

	&__content {
		max-width: $maxWidth;
		margin: 0px auto;
		background-color: $white;

		@media (max-width: 1439px) {
			width: $minWidth;
		}
	}
}


.header {

	&__inner {
		width: 100%;
		max-width: 1440px;
		height: 70px;
		background-color: $blue;
		display: flex;
		flex-direction: row;
		padding: 10px 165px 10px 152px;
		position: fixed;
		z-index: 10;

		@media (max-width: 1439px) {
			height: 40px;
			max-width: $minWidth;
			padding: 0 20px 0 11px;
		}
	}

	&__logo {
		width: 173px;
		min-width: 173px;
		height: 62px;
		margin-top: -5px;

		@media (max-width: 1439px) {
			width: 111px;
			min-width: 111px;
			height: 40px;
			margin-top: 0;
		}
	}

	&__menu {



		&-icon {

		}

		&-body {
			width: 828px;
			margin-left: 126px;
			background-color: $blue;

			 

			@media (max-width: 1439px) {
				width: 100%;
				height: 100vh;
				position: relative;
				top: 40px;
				right: 625px;
		   }
		}

		&-list {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			justify-content: space-between;
			align-items: center;

			@media (max-width: 1439px) {
				 flex-direction: column;
			}
		}
	}
}





//.page {
//	padding: 90px 0px 30px 0px;
//}
//.page__section {
//	padding: 30px;
//	max-width: 1200px;
//	margin: 0px auto;
//}
//.page__section_1 {
//	background-color: #794f45;
//}
//.page__section_2 {
//	background-color: #77608d;
//}
//.page__section_3 {
//	background-color: #7a956b;
//}
//.page__title {
//	font-size: 40px;
//	margin: 0px 0px 20px 0px;
//}
//.page__text {
//	font-size: 16px;
//	line-height: 150%;
//}
//.page__text p {
//	margin: 0px 0px 20px 0px;
//}

//.page__sub-title {
//	font-size: 30px;
//	margin: 0px 0px 20px 0px;
//}

//.header {
//	position: fixed;
//	top: 0;
//	left: 0;
//	width: 100%;
//	z-index: 10;
//	background-color: #912105;
//}
//.header__container {
//	max-width: 1200px;
//	margin: 0px auto;
//	display: flex;
//	padding: 0px 30px;
//	align-items: center;
//	justify-content: space-between;
//	min-height: 70px;
//}
//.header__logo {
//	border-radius: 50%;
//	background-color: #fff;
//	position: relative;
//	z-index: 5;
//	width: 40px;
//	height: 40px;
//}
//.header__menu {
//}
//.menu {
//}
//.menu__icon {
//	display: none;
//}
//.menu__body {
//}
//.menu__list {
//}
//.menu__list > li {
//	position: relative;
//	margin: 0px 0px 0px 20px;
//}
//.menu__link {
//	color: #fff;
//	font-size: 18px;
//}
//.menu__link:hover {
//	text-decoration: underline;
//}
//.menu__sub-list {
//	position: absolute;
//	top: 100%;
//	right: 0;
//	background-color: #000;
//	padding: 15px;
//	min-width: 200px;
//}
//.menu__sub-list li {
//	margin: 0px 0px 10px 0px;
//}
//.menu__sub-list li:last-child {
//	margin: 0;
//}
//.menu__sub-link {
//	color: #fff;
//}
//.menu__sub-link:hover {
//	text-decoration: underline;
//}
//.menu__arrow {
//	display: none;
//}
///* ----------------------- */
//body._pc .menu__list > li:hover .menu__sub-list {
//	opacity: 1;
//	visibility: visible;
//	transform: translate(0px, 0px);
//	pointer-events: all;
//}
//body._touch .menu__list > li {
//	display: flex;
//	align-items: center;
//}
//body._touch .menu__link {
//	flex: 1 1 auto;
//}
//body._touch .menu__arrow {
//	display: block;
//	width: 0;
//	height: 0;
//	margin: 0px 0px 0px 5px;
//	transition: transform 0.3s ease 0s;
//	border-left: 5px solid transparent;
//	border-right: 5px solid transparent;
//	border-top: 10px solid #fff;
//}

//body._touch .menu__list > li._active .menu__sub-list {
//	opacity: 1;
//	visibility: visible;
//	transform: translate(0px, 0px);
//	pointer-events: all;
//}
//body._touch .menu__list > li._active .menu__arrow {
//	transform: rotate(-180deg);
//}

///* ----------------------- */
//@media (min-width: 767px) {
//	.menu__list {
//		display: flex;
//		align-items: center;
//	}
//	.menu__list > li {
//		padding: 10px 0;
//	}
//	.menu__sub-list {
//		transform: translate(0px, 10%);
//		opacity: 0;
//		visibility: hidden;
//		pointer-events: none;
//		transition: all 0.3s ease 0s;
//	}
//}
//@media (max-width: 767px) {
//	.menu__icon {
//		z-index: 5;
//		display: block;
//		position: relative;
//		width: 30px;
//		height: 18px;
//		cursor: pointer;
//	}
//	.menu__icon span,
//	.menu__icon::before,
//	.menu__icon::after {
//		left: 0;
//		position: absolute;
//		height: 10%;
//		width: 100%;
//		transition: all 0.3s ease 0s;
//		background-color: #fff;
//	}
//	.menu__icon::before,
//	.menu__icon::after {
//		content: "";
//	}
//	.menu__icon::before {
//		top: 0;
//	}
//	.menu__icon::after {
//		bottom: 0;
//	}
//	.menu__icon span {
//		top: 50%;
//		transform: scale(1) translate(0px, -50%);
//	}

//	.menu__icon._active span {
//		transform: scale(0) translate(0px, -50%);
//	}
//	.menu__icon._active::before {
//		top: 50%;
//		transform: rotate(-45deg) translate(0px, -50%);
//	}
//	.menu__icon._active::after {
//		bottom: 50%;
//		transform: rotate(45deg) translate(0px, 50%);
//	}

//	.menu__body {
//		position: fixed;
//		top: 0;
//		left: -100%;
//		width: 100%;
//		height: 100%;
//		background-color: rgba(0, 0, 0, 0.9);
//		padding: 100px 30px 30px 30px;
//		transition: left 0.3s ease 0s;
//		overflow: auto;
//	}
//	.menu__body._active {
//		left: 0;
//	}

//	.menu__body::before {
//		content: "";
//		position: fixed;
//		width: 100%;
//		top: 0;
//		left: 0;
//		height: 70px;
//		background-color: #912105;
//		z-index: 2;
//	}

//	.menu__list > li {
//		flex-wrap: wrap;
//		margin: 0px 0px 30px 0px;
//	}
//	.menu__list > li:last-child {
//		margin-bottom: 0;
//	}
//	.menu__list > li._active .menu__sub-list {
//		display: block;
//	}
//	.menu__link {
//		font-size: 24px;
//	}
//	.menu__sub-list {
//		position: relative;
//		background-color: #fff;
//		flex: 1 1 100%;
//		margin: 20px 0px 0px 0px;
//		display: none;
//	}
//	.menu__sub-link {
//		font-size: 20px;
//		color: #000;
//	}
//}

















.btn {
	display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	max-width: 250px;
	width: 250px;
	height: 50px;
	font-family: $fontFamily-Semibold;
	font-size: 20px;
    line-height: 22px;
    font-weight: 600;
	color: $white;
	background-color: $orange;
	border-radius: 15px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.25s ease-out;
	//will-change: contents;
	border: 2px solid transparent;

	&:hover{
		background-color: transparent;
		color: $black;
		border: 2px solid $orange;
	}

	@media (max-width: 1439px) {
		font-size: 16px;
		line-height: 22px;
	}
}

.input-reserve {
	width: 656px;
	height: 50px;
	padding: 16px 24px;
	background: $gray-2;
	border: 2px solid $gray-4;
	box-sizing: border-box;
	border-radius: 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: $gray;

	@media (max-width: 1439px) {
		width: 280px;
		font-size: 14px;
		line-height: 18px;
	}
}

.br-m {
	display: none;
	@media (max-width: 1439px) {
		display: block;
	}
}



.swiper {
	width: 100%;
	height: 726px;
	overflow: hidden;
	position: relative;

	@media (max-width: 1439px) {
		height: 345px;
	}

	&-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-button {

		&-prev {

		}

		&-next {

		}
	}
}


 








//Блок баннер//
.banner {
	width: 100%;
	height: 969px;
	background: linear-gradient(180deg, #020725 0%, rgba(32, 41, 98, 0) 16.46%, rgba(241, 241, 252, 0) 68.84%, rgba(241, 241, 252, 0.28) 83.85%, #F1F1FC 100%), url(../images/content/banner.png);
	background-repeat: no-repeat;
	background-size: contain;

	@media (max-width: 1439px) {
		width: 100%;
		height: 527px;
		background-size: cover;
		background: linear-gradient(180deg, #020725 0%, rgba(32, 41, 98, 0.42) 60.94%, rgba(0, 0, 0, 0.29) 68.84%, rgba(241, 241, 252, 0.28) 83.85%, #F1F1FC 100%), url(../images/content/banner-m.png);
	}

	&__title {
		text-align: center;
		padding-top: 305px;

		@media (max-width: 1439px) {
			padding-top: 140px;
			text-align: center;
		}
	}
}
//Блок баннер//

//Блок Карта//
.map {
	background-image: url(../images/content/map2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: $gray-2;
	width: 100%;
	height: 664px;
	&__inner {

	}
}
//Блок Карта//


//Блок О путешествии//
.travel {
	padding: 102px 165px 21px;
	position: relative;

	@media (max-width: 1439px) {
		padding: 48px 20px 0;
	}

	&__title {
		padding-bottom: 54px;
		letter-spacing: -1px;

		@media (max-width: 1439px) {
			padding-bottom: 3px;
		}
	}

	&__text {
		padding-bottom: 47px;
		width: 598px;

		@media (max-width: 1439px) {
			width: 100%;
			padding-bottom: 54px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		&-box {
			display: flex;
			flex-direction: row;
			width: 353px;
			padding-bottom: 39px;

			@media (max-width: 1439px) {
				padding-bottom: 34px;
			}

			&-image {
				padding-right: 30px;

				@media (max-width: 1439px) {
					padding-right: 20px;
				}

				&-icon {
					width: 68px;
					min-width: 68px;
					height: 90px;

					@media (max-width: 1439px) {
						width: 55px;
						min-width: 55px;
						height: 72px;
					}
				}
			}

			&-text {
				width: 255px;
				max-width: 255px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				@media (max-width: 1439px) {
					width: 100%;
				}

				&-indent {
					padding-bottom: 6px;

					@media (max-width: 1439px) {
						padding-bottom: 2px;
					}
				}
			}
		}
	}

	&__days {
		padding-top: 53px;

		@media (max-width: 1439px) {
			padding-top: 68px;
		}
	}

	&__day {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 760px;
		height: 255px;
		margin-bottom: 80px;

		@media (max-width: 1439px) {
			flex-direction: column;
			width: 100%;
			height: 100%;
			margin-bottom: 0;
			padding-bottom: 69px;
			align-items: flex-start;
		}
		

		&-container {
			display: flex;
			justify-content: flex-end;
		}

		&-image {
			padding-right: 29px;
			z-index: 1;

			@media (max-width: 1439px) {
				padding-right: 0;
				padding-bottom: 18px;
			}

			&-indent {
				@media (max-width: 1439px) {
					padding-left: 150px;
				}
			}

			&-item {
				width: 255px;
				height: 255px;
				min-width: 255px;

				@media (max-width: 1439px) {
					width: 130px;
					height: 130px;
					min-width: 130px;
				}
			}
		}

		&-text {

			&-indent {
				padding-bottom: 13px;

				@media (max-width: 1439px) {
					padding-bottom: 3px;
					z-index: 1;
				}
			}
		}
	}

	&__line-1 {
		position: absolute;
		top: 799px;
		left: 675px;
		transform: rotate(34deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 435px;
			height: 287px;
			min-width: 435px;
			
		}
	}

	&__line-2 {
		position: absolute;
		top: 1195px;
		left: 688px;
		transform: rotate(35deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 278px;
			height: 345px;
			max-width: 278px;
		}
	}

	&__line-3 {
		position: absolute;
		top: 1504px;
		left: 632px;
		transform: rotate(34deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 464px;
			height: 185px;
			max-width: 464px;
		}
	}

	&__line-4 {
		position: absolute;
		top: 1875px;
		left: 603px;
		transform: rotate(-56deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 416px;
			height: 258px;
			max-width: 416px;
		}
	}

	&__line-5 {
		position: absolute;
		top: 2253px;
		left: 561px;
		transform: rotate(-146deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 526px;
			height: 158px;
			max-width: 526px;
		}
	}

	&__line-6 {
		position: absolute;
		top: 2526px;
		left: 663px;
		transform: rotate(-55deg);

		@media (max-width: 1439px) {
			display: none;
		}

		&-image {
			width: 488px;
			height: 324px;
			max-width: 488px;
		}
	}

	&__line-m {
		display: none;

		@media (max-width: 1439px) {
			display: block;
			position: absolute;
			top: 1047px;
			margin-left: -20px;
			z-index: 0;
		}

		&-image {
			width: 320px;
			height: 2675px;
			max-width: 320px;

			&-image {
				display: block;
				width: 320px;
				height: 2675px;
				max-width: 320px;
			}
		}
	}
}
//Блок О путешествии//

//Блок GOOGLE карта://
.g-map {
	width: 100%;
	height: 695px;

	@media (max-width: 1439px) {
		width: 100%;
		height: 323px;
	}
}
//Блок GOOGLE карта://

//Блок Что взять с собой://
.take {
	padding: 78px 165px 99px;
	background: $gray-2;

	@media (max-width: 1439px) {
		padding: 55px 2px 9px;
	}

	&__title {
		padding-bottom: 32px;

		@media (max-width: 1439px) {
			padding: 0 20px 26px 20px;
		}
	}

	&__drop {
		padding: 5px 27px;
		border-top:1px solid $gray-4;
		width: 100%;
		box-sizing: border-box;

		&:last-of-type {
			border-bottom:1px solid $gray-4;
		}

		&-title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			@media (max-width: 1439px) {
				padding-bottom: 5px;
			}
		}

		&-btn {
			width: 40px;
			height: 40px;
			border-radius: 50px;
			background-color: $gray-5;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			@media (max-width: 1439px) {
				width: 26px;
				height: 26px;
			}

			&-cross {
				width: 25px;
				min-width: 25px;
				height: 25px;

				@media (max-width: 1439px) {
					width: 16px;
					height: 16px;
				}

				&:before {
					//-webkit-transform: rotate(45deg);
					//transform: rotate(45deg);
				}
				

				&:hover {
					//background-color: #bad0b8;
					//background-image: -webkit-linear-gradient(right, #FC7864, #FDA366);
					//background-image: -moz-linear-gradient(right, #FC7864, #FDA366);
					//background-image: -o-linear-gradient(right, #FC7864, #FDA366);
					//background-image: -ms-linear-gradient(right, #FC7864, #FDA366);
					//background-image: linear-gradient(right, #FC7864, #FDA366);
				}
			}
		}

		&-text {
			width: 893px;
			//padding-bottom: 12px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-in-out;

			@media (max-width: 1439px) {
				width: 100%;
			}
		}
	}
}
//Блок Что взять с собой://





//Блок Бронируйте ваш тур мечты//
.reserve {
	background: linear-gradient(180deg, #F1F1FC 0%, rgba(0, 0, 0, 0.510417) 48.96%, #F1F1FC 100%), url(../images/content/reserve-bg.png);
	width: 100%;
	height: 567px;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 1439px) {
		background: linear-gradient(180deg, #F1F1FC 0%, rgba(0, 0, 0, 0.510417) 48.96%, #F1F1FC 100%), url(../images/content/reserve-bg-m.png);
		width: 100%;
		height: 555px;
		padding: 0 20px;
	}
	
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		padding-bottom: 35px;

		@media (max-width: 1439px) {
			text-align: center;
		}
	}

	&__input {
		padding-bottom: 10px;
		
		&:last-of-type {
			padding-bottom: 25px;
		}
	}
}
//Блок Бронируйте ваш тур мечты//


//Блок Стоимость тура//
.tour-cost {
	padding: 74px 153px 0 165px;
	background-color: $gray-2;

	@media (max-width: 1439px) {
		padding: 52px 20px 0;
	}

	&__title {
		display: flex;
		flex-direction: wrap;
		padding-bottom: 28px;

		@media (max-width: 1439px) {
			flex-direction: column;
		}
	}

	&__inner {
		display: flex;
		flex-direction: row;

		@media (max-width: 1439px) {
			flex-direction: column;
		}
	}

	&__container {
		padding-right: 39px;

		@media (max-width: 1439px) {
			padding-right: 0;

			&:first-of-type {
				padding-bottom: 26px;
			}
		}

		&-title {
			padding-bottom: 13px;

			@media (max-width: 1439px) {
				padding-bottom: 6px;
			}
		}

		&-list {
			width: 315px;
			margin-left: 25px;

			@media (max-width: 1439px) {
				width: 100%;
			}
		}
	}

	&__logo {
		margin-top: 81px;
		margin-left: 143px;

		@media (max-width: 1439px) {
			margin-top: 0;
			margin-left: 209px;
		}

		&-image {
			min-width: 219px;
			width: 219px;
			height: 250px;

			@media (max-width: 1439px) {
				min-width: 91px;
				width: 91px;
				height: 104px;
			}
		}
	}
}
//Блок Стоимость тура//



//Блок Даты туров//
.tour-dates {
	padding: 78px 165px 95px;
	display: flex;
	flex-direction: column;

	@media (max-width: 1439px) {
		padding: 54px 20px 60px;
	}

	&-title {
		padding-bottom: 36px;

		@media (max-width: 1439px) {
			padding-bottom: 23px;
		}
	}

	&-container {
		width: 100%;
		height: 100px;
		background-color: $gray-2;
		border: 2px solid  $gray-3;
		box-sizing: border-box;
		border-radius: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 45px;

		@media (max-width: 1439px) {
			height: 154px;
			padding: 10px 15px 22px;
			margin-bottom: 10px;
			display: flex;
			flex-direction: column;
		}

		&__title {
			width: 293px;

			@media (max-width: 1439px) {
				width: 100%;
				padding-bottom: 0;
				display: flex;
				justify-content: center;
			}
		}

		&__date {
			width: 280px;
			padding-left: 58px;

			@media (max-width: 1439px) {
				width: 100%;
				padding-left: 0;
				margin-top: -9px;
				display: flex;
				justify-content: center;
			}
		}
	}
}
//Блок Даты туров//


//Блок Связаться с нами://
.contact {
	padding: 78px 153px 39px 165px;
	background-color: $gray-2;

	@media (max-width: 1439px) {
		padding: 63px 20px 70px;
	}

	&__title {
		padding-bottom: 50px;

		@media (max-width: 1439px) {
			padding-bottom: 27px;
		}
	}

	&__persons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 1439px) {
			flex-direction: column;
		}
	}

	&__person {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 553px;
		padding-bottom: 80px;

		@media (max-width: 1439px) {
			flex-direction: column;
			width: 100%;
			padding-bottom: 38px;
		}

		&-image {
			padding-right: 34px;

			@media (max-width: 1439px) {
				padding-right: 0;
				padding-bottom: 24px;
			}

			&-face {
				width: 190px;
				min-width: 190px;
				height: 190px;

				@media (max-width: 1439px) {
					width: 130px;
					min-width: 130px;
					height: 130px;
				}
			}
		}

		&-contacts {
			display: flex;
			flex-direction: column;

			@media (max-width: 1439px) {
				align-items: center;
			}

			&-name {
				padding-bottom: 6px;

				@media (max-width: 1439px) {
					padding-bottom: 4px;
				}
			}
		}

		&-socials {
			display: flex;
			flex-direction: row;
			padding-top: 17px;

			@media (max-width: 1439px) {
				padding-top: 16px;
			}

			&-icon {

				&-tg {
					width: 33px;
					min-width: 33px;
					height: 30px;
					margin-right: 23px;
				}

				&-wapp {
					width: 30px;
					min-width: 30px;
					height: 31px;
				}
			}
		}
	}

	&__share {

		&-container {
			display: flex;
			flex-direction: row;
			position: relative;

			@media (max-width: 1439px) {
				flex-direction: column;
			}
		}

		&-title {
			width: 455px;
			padding-bottom: 20px;

			@media (max-width: 1439px) {
				width: 100%;
				padding-bottom: 25px;
			}

			&-indent {
				padding-bottom: 13px;

				@media (max-width: 1439px) {
					padding-top: 51px;
					padding-bottom: 16px;
				}
			}

			&-size {
				@media (max-width: 1439px) {
					width: 224px;
					padding-left: 3px;
				}
			}
		}

		&-social {
			display: flex;
			flex-direction: row;

			&-icon {
				&-fb {
					width: 44px;
					height: 44px;
					min-width: 44px;
					margin-right: 10px;
				}

				&-vk {
					width: 44px;
					height: 44px;
					min-width: 44px;
					margin-right: 10px;
				}

				&-tw {
					width: 44px;
					height: 44px;
					min-width: 44px;
				}
			}
		}

		&__logo {
			position: absolute;
			right: 0; 
			top: -2px;

			@media (max-width: 1439px) {
				left: 195px;
				top: 191px;
			}

			&-image {
				min-width: 219px;
				width: 219px;
				height: 250px;
	
				@media (max-width: 1439px) {
					min-width: 104px;
					width: 104px;
					height: 117px;
				}
			}
		}
	}
}
//Блок Связаться с нами://


